venv
data
.idea
None
scripts/*
!scripts/annotate.py
!scripts/merge_space_after.py
!scripts/merge_space_after_all.sh
!scripts/annotate_all.sh
!scripts/README.md
!scripts/cckres/
scripts/cckres/*
!scripts/cckres/*.py
!scripts/cckres/*.sh
!scripts/gos/
scripts/gos/*
!scripts/gos/*.py
!scripts/gos/*.sh
!scripts/solar/
scripts/solar/*
!scripts/solar/*.sh
.vscode
